<form action="/dashboard/<%- guild.id %>/moderation" method="post" id="form">
    <div class="moderation-content">
        <h1>
            <%- pageName %>
        </h1>
        <div class="contents">
            <div class="card">
                <div class="selecter">

                    <%- include("../partials/components/role-select-mod.ejs", { id: 7654650, guild, bot, domain,
                        label: "Moderation role" , selected: moderation.moderatorRole, value: "moderatorRole" , data:
                        moderation }) %>
                </div>
                <div class="togglers">
                    <div class="slider">
                        Include reason on chat
                        <%- include("../partials/components/switch.ejs", { id: 685436, guild, bot, domain, selected:
                            moderation.includeReason, value: "moderationIncludeReason" }) %>
                    </div>
                    <div class="dm-sliders">
                        <h3 style="margin-bottom: .6rem;">DM User:</h3>
                        <div class="sliders">
                            <div class="slider">
                                On Ban action
                                <%- include("../partials/components/switch.ejs", { id: 3864, guild, bot, domain,
                                    selected: moderation.dm.ban, value: "moderationDmBan" }) %>
                            </div>
                            <div class="slider">
                                On Kick action
                                <%- include("../partials/components/switch.ejs", { id: 35459, guild, bot, domain,
                                    selected: moderation.dm.kick, value: "moderationDmKick" }) %>
                            </div>
                            <div class="slider">
                                On Warn action
                                <%- include("../partials/components/switch.ejs", { id: 653, guild, bot, domain,
                                    selected: moderation.dm.warn , value: "moderationDmWarn" }) %>
                            </div>
                            <div class="slider">
                                On Timeout action
                                <%- include("../partials/components/switch.ejs", { id: 65465341, guild, bot, domain,
                                    selected: moderation.dm.timeout, value: "moderationDmTimeout" }) %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="submit">
                    <button name="moderationSave" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
<link rel="stylesheet" href="<%- domain %>/css/moderation.css">