<form action="/dashboard/<%- guild.id %>/tickets" method="post" id="form">
    <div class="left">
        <h1>
            <%- pageName %>
        </h1>
        <div class="tickets-container">
            <div class="left-container">
                <div class="card tickets">
                    <div class="title">
                        <h2>Settings</h2>
                        <div class="slider">
                            On / Off
                            <%- include("../partials/components/switch.ejs", { id: 54, guild, bot, domain, selected:
                                tickets.active, value: "ticketsActive" }) %>
                        </div>
                    </div>

                    <%- include("../partials/components/channel-select-tickets.ejs", { id: 9, guild, bot, domain,
                        label: "Log Channel" , selected: tickets.logChannel, value: "ticketsLogChannel" , data: tickets
                        }) %>

                        <%- include("../partials/components/category-select-tickets.ejs", { id: 42, guild, bot, domain,
                            label: "Closed Category" , selected: tickets.closedCategory, value: "ticketsClosedCategory"
                            , data: tickets.closedCategory }) %>

                            <div class="submit">
                                <button name="ticketsSettingsSave" type="submit">Save</button>
                            </div>
                </div>

                <div class="card ticket-panel-message">
                    <div class="title">
                        <h2>Panel Message</h2>
                    </div>

                    <%- include("../partials/components/channel-select-notnull.ejs", { id: 1, guild, bot, domain,
                        label: "Panel Message Channel" , selected: tickets.panelMessage.channel,
                        value: "ticketsPanelMessageChannel" , data: tickets.panelMessage }) %>

                        <div class="embed panelEmbed active">
                            <h3>Title</h3>
                            <div class="title">
                                <input type="text" name="ticketsPanelMessageTitle" id="ticketsPanelMessageTitle"
                                    placeholder="Open a ticket" value="<%- tickets.panelMessage.message.title %>">
                            </div>
                            <h3 style=" margin-top: .6rem;">Description</h3>
                            <textarea name="ticketsPanelMessageDescription" id="ticketsPanelMessageDescription" rows="3"
                                placeholder="Click the button below to open a support ticket between you and the Support Team of {guild}."><%- tickets.panelMessage.message.description %></textarea>
                            <div class="color-timestamp">
                                <div class="color">
                                    <h3 style=" margin-top: .6rem;">Color</h3>
                                    <input type="color" name="ticketsPanelMessageColor" id="ticketsPanelMessageColor"
                                        value="<%- tickets.panelMessage.message.color %>">
                                </div>
                                <div class="timestamp">
                                    <div class="slider">
                                        Show Timestamp
                                        <%- include("../partials/components/switch.ejs", { id: 4, guild, bot, domain,
                                            selected: tickets.panelMessage.message.timestamp,
                                            value: "ticketsPanelMessageTimestamp" }) %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="placeholders">
                            <span class="material-icons-round">info</span>
                            <small class="text-muted">
                                Learn more about the
                                <a href="<%- domain %>/placeholders" target="_blank" rel="noopener noreferrer">
                                    placeholders
                                    <span class="material-icons-round">launch</span>
                                </a>
                            </small>
                        </div>

                        <div class="submit">
                            <% if (tickets.panelMessage.channel) { %>
                                <button name="ticketsPanelSave" type="submit">Save</button>
                                <button name="ticketsPanelDelete" type="submit" id="deleteButton">Delete</button>
                                <% } else { %>
                                    <button name="ticketsPanelSend" type="submit">Send</button>
                                    <% } %>
                        </div>

                </div>
            </div>
            <div class="card ticket-panels">
                <div class="title">
                    <h2>Categories</h2>
                </div>

                <% if (ticketPanels.length> 0) { %>
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Label</th>
                                <th>Max Tickets</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% ticketPanels.forEach(panel=> { %>
                                <tr>
                                    <td>📨</td>
                                    <td>
                                        <%- panel.label %>
                                    </td>
                                    <td>
                                        <%- panel.maxTickets===0 ? "Disabled" : panel.maxTickets %>
                                    </td>
                                    <td><a
                                            href="<%- domain %>/dashboard/<%- guild.id %>/tickets/categories/<%- panel._id %>">
                                            <span class="material-icons-round">edit</span></a>
                                        <input type="radio" name="ticketPanelsSelected" value="<%- panel._id %>" id="<%- panel._id %>">
                                        <button name="ticketPanelsDelete" type="submit"><span
                                                class="material-icons-round">delete</span></button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <% } else { %>
                        <div class="no-panels">
                            <p>You don't have any ticket category created yet.</p>
                        </div>

                        <% } %>

                            <h2>Add Category</h2>

                            <div class="embed add-edit-container active">
                                <%- include("../partials/components/category-select-notnull.ejs", { id: 96, guild, bot,
                                    domain, label: "Category" , selected: null, value: "ticketPanelsCategory" , data:
                                    tickets }) %>
                                    <%- include("../partials/components/role-select-notnull.ejs", { id: 40, guild, bot,
                                        domain, label: "Support Role" , selected: null, value: "ticketPanelsSupportRole"
                                        , data: tickets }) %>

                                        <h3>Label</h3>
                                        <div class="label">
                                            <input type="text" name="ticketPanelsLabel" id="ticketPanelsLabel"
                                                placeholder="Open a ticket">
                                        </div>
                                        <div class="max-tickets">
                                            <h3 style=" margin-top: .6rem;">Maximum tickets per user</h3>
                                            <input type="number" min="0" name="ticketsPanelsMaxTickets"
                                                id="ticketsPanelsMaxTickets" value=0>
                                            <div class="placeholders">
                                                <span class="material-icons-round">info</span>
                                                <small class="text-muted">
                                                    Set to 0 to disable
                                                </small>
                                            </div>
                                        </div>
                                        <h3 style="margin-top: .8rem;">Welcome Message</h3>
                                        <textarea name="ticketsPanelsWelcomeMessageMessage"
                                            id="ticketsPanelsWelcomeMessageMessage" rows="3"
                                            placeholder="Hey {user}! Welcome to your ticket! Thank you for creating a ticket, the support team will be with you shortly. Meanwhile, please explain your issue below"></textarea>
                                        <div class="color-timestamp">
                                            <div class="color">
                                                <h3 style=" margin-top: .6rem;">Welcome message embed color</h3>
                                                <input type="color" name="ticketsPanelsWelcomeMessageColor"
                                                    id="ticketsPanelsWelcomeMessageColor" value="#000000">
                                            </div>
                                        </div>

                                        <div class="submit">
                                            <button name="ticketPanelsAdd" type="submit">Save</button>
                                        </div>
                            </div>

            </div>
        </div>
    </div>
</form>

<link rel="stylesheet" href="<%- domain %>/css/tickets.css">

<script>
    const tableRows = document.querySelectorAll(".tickets-container table tbody tr")

    tableRows.forEach(row => {
        row.querySelector("button").addEventListener("click", () => {
            row.querySelector("input").checked = true
        })
    })
</script>